
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base CSS Start */

/* Fonts
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;*/


/* Main Container Attributers */
html {  
  font-size: 62.5%;    
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4f4f4f;
    font-size: 1.75rem;
    font-weight: 300;
}

.container {
  width: 100%;
  margin: auto;  
}


/* Basic Tag Styles */
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h1 {
  font-size: 10rem;
  padding-top: 3%;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2%;
  margin-left: 2%;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  line-height: 2rem;
  letter-spacing: .2rem;
  padding: 0 2%;
  margin: 2% 0;
}

ul {
  list-style-type: disc;
  padding-bottom: 10%;
  margin: 4% 4%;
}

li {
  font-size: 2rem;
  padding: 2% 0;
}

strong {
  font-weight: 700;
}

/* Color Palette Light to Dark
ffffff
e5e5e5
fca311
14213d
4f4f4f
*/

/* Header Styles */
.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  background-color: #14213d; 
  color: #fff;  
  text-align: center;
}

.nav-border {
  height: 3vh;    
  background-color: #FCA311;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #14213d;
  height: 20vh;
}



/* Home Page Styles */

.homepage-hero {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 4% 2%;
  background-color: #e5e5e5;
}


.homepage-contentbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 8% 2%;
  background-color: #e5e5e5;
}

.homepage-contentbox div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 45vh;  
  margin: 2% 2%;
  text-shadow: 2px 2px 2px #000;
}

.homepage-contentbox div:hover{
  transition: 1.5s ease-in-out;
  filter: grayscale(100%); 
  border: 4px solid #fca311;
  flex-grow: 3;
}

.homepage-foodpanel, .featurespage-foodpanel {  
  border-radius: 10px;
  box-shadow: 5px 5px 30px #4f4f4f;
  color: #e5e5e5;
}

.homepage-foodpanel.card1 {
  background: url(/assets/images/homepage/photo-1482049016688-2d3e1b311543.jpg);
  background-size: cover;
}

.homepage-foodpanel.card2 {
  background: url(/assets/images/homepage/photo-1484723091739-30a097e8f929.jpg);
  background-size: cover;
}

.homepage-foodpanel.card3 {
  background: url(/assets/images/homepage/photo-1490818387583-1baba5e638af.jpg);
  background-size: cover;
}

.homepage-foodpanel.card4 {
  background: url(/assets/images/homepage/photo-1493770348161-369560ae357d.jpg);
  background-size: cover;
}

.homepage-foodpanel.card5 {
  background: url(/assets/images/homepage/photo-1498837167922-ddd27525d352.jpg);
  background-size: cover;
}

.homepage-foodpanel.card6 {
  background: url(/assets/images/homepage/photo-1506354666786-959d6d497f1a.jpg);
  background-size: cover;
}





/* Features Page Styles */

.featurespage-foodpanel.card1 {
  background: url(/assets/images/features/photo-1490457843367-34b21b6ccd85.jpg);
  background-size: cover;
}

.featurespage-foodpanel.card2 {
  background: url(/assets/images/features/photo-1521305916504-4a1121188589.jpg);
  background-size: cover;
}

.featurespage-foodpanel.card3 {
  background: url(/assets/images/features/photo-1573333515743-56d57731dd1f.jpg);
  background-size: cover;
}

.featurepage-hero {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: space-between;
  padding: 0% 0%;
  background-color: #e5e5e5;
}

.featurepage-hero div{
  padding: 4% 2%;
}

.featurepage-info {
  color: #fff;
  box-shadow: inset 20px 20px 40px #000;
  text-shadow: 4px 2px 4px #000;
  font-weight: 700;
  max-width: 100%;
}

.featurepage-info.card1 {  
  background: url(/assets/images/features/photo-1515003197210-e0cd71810b5f.jpg);
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
}

.featurepage-info.card2 {
  background: url(/assets/images/features/photo-1496412705862-e0088f16f791.jpg);
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
}


/* Testimonials */

.homepage-testimonials {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 8% 2%;
  background-color: #e5e5e5;
  font-style: italic;
  font-weight: 500;
}


.homepage-testimonials div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 25%;
  height: 20vh;  
  margin: 2% 2%;
}



/* Footer Styles */
.footer-nav {
  align-items: flex-end;
}


footer {
  height: 30vh;
}

.copyright {
  height: 10vh;
  background-color: #fca311;
  font-size: 1.2rem;
  padding: 2.5%;
  text-align: center;
}

/* Buttons and Images */
.btn {
	font-size: 2rem;
	padding: 1%;
	color: #E5E5E5;
	margin: 2% 2%;
  }
  
.btn:hover {
	color: #FCA311;
  transition: 2s;
}




/* Media Queries */

/* Desktop */
@media (max-width: 1024px) {
  .homepage-contentbox div{
    width: 40%;
  }
}


/* Tablet */
@media (max-width: 800px) {
  h1 {
    font-size: 7rem;
    padding: 4% 0;
  }
  .homepage-contentbox div{
    width: 100%;
  }
  .homepage-testimonials div{
    width: 100%;
  }      
  li {
    margin: 8% 8%;
  }  
}

/* Mobile */
@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
    padding: 4% 0;
  }
  h2 {
    font-size: 2rem;
    padding: 4% 0;
  }  
  nav {
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    padding: 40% 4%;
  }  
  nav a {   
    width: 100%;
  }  
  li {
    margin: 8% 8%;
  }  
  .homepage-contentbox div{
    width: 100%;
  }
  .homepage-testimonials div{
    width: 100%;
  }      
  .featurepage-info.card2 {
    padding: 8% 4%;
  }  
}